{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
{% if  %}
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.errors}}
        <label>Nueva contraseña:</label>
        {{ form.new_password1 }}
        {{ form.new_password2.errors}}
        <label>Confirme contraseña:</label>
        {{ form.new_password2 }}
        <button type="submit">Cambiar mi contraseña</button>
    </form>
{% else %}
<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
{% endif %}
{% endblock %}